﻿@model MVCMessage.ViewModels.CreateMessageViewModel

@{
    ViewBag.Title = "Create";
}


<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Message</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if(Model.Message != null)
        {
            <div class="form-group">
                <div class="col-md-10">@Model.Message</div>
            </div>
        }
        
            <div class="form-group">
                @Html.LabelFor(model => model.ReceiverList, htmlAttributes: new { @class = "control-label col-md-2" })
                <font color="black">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Receiver, Model.ReceiverList, "Send to:", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Receiver, "", new { @class = "text-danger" })
                    </div>
                </font>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Headline, htmlAttributes: new { @class = "control-label col-md-2" })
                <font color="black">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Headline, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Headline, "", new { @class = "text-danger" })
                    </div>
                </font>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                <font color="black">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </font>
            </div>

        
        
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
