﻿
@using Microsoft.AspNet.Identity
@model MVCMessage.ViewModels.HomeViewModel


@{
    ViewBag.Title = "Home Page";

}
 

@if (Request.IsAuthenticated)
{
    if (Model.NrOfLoggins > 1)
    {
        <h2>Welcome back @Model.UserName!</h2>
    }
    else
    {
        <h2>Welcome @Model.UserName!</h2>
    }



    <h5>
    
    You have @Model.UnReadMessages unread message(s)</h5>

    if (@Model.NrOfLoggins > 1)
    {
        <h5> You have logged in: @Model.NrOfLoggins times </h5>
    }
    else
    {
        <h5> You have logged in: @Model.NrOfLoggins time </h5>
    }


    <h5>@Model.LastLoggedIn was the last time you were here </h5>
}
else
{
    <div class="jumbotron">
        <h1>Welcome to the community</h1>
        <p> Please log in or register</p>
    </div>
}


