﻿@model MVCMessage.ViewModels.ReadMessageViewModel

@{
    ViewBag.Title = "Messages";
}

<h2>Messages</h2>
    Click on the username to get the messages from that person
    @foreach (var item in Model.usernames)
    {
        <br>
            @Html.ActionLink(@item, "ReadMessagesFromUser", new { username = @item })
        <br>
    }

@Html.Partial("ReadMessagesPartial")
