﻿@model MVCMessage.ViewModels.ReadMessageFromUserViewModel

@{
    ViewBag.Title = "MessagesFromUser";
}

<h2>Messages From User</h2>
<table class="table">
    <tr>
        <th>
            Headline
        </th>
        <th>
            Date
        </th>
        <th>
            Is message read:
        </th>
    </tr>
    @foreach (var item in Model.message)
    {
        <tr>
            <th>
                @Html.ActionLink(@item.Header, "ShowMessage", new { id = @item.id })
            </th>
            <th>
                @item.date
            </th>
            @if (item.isRead == true)
            {
                <th>Yes</th>
            }else
            {
                <th>No</th>
            }
          
        </tr>
    }
</table>
@Html.ActionLink("Back", "Index", new { @class = "btn btn-primary", @style = "color:white" })


@Html.Partial("ReadMessagesPartial")