﻿
@{
    ViewBag.Title = "ReadMessagesPartial";
}
<p> </p>
<p> </p>
<p>You have @Model.totalMessages message(s)</p>
<p>You have @Model.totalReadMessages read message(s)</p>
<p>You have @Model.deletedMessages deleted message(s)</p>
