﻿@model MVCMessage.ViewModels.ShowMessageViewModel

@{
    ViewBag.Title = "Message";
}

<h2>Message</h2>
<label>
    Header:    
</label>
    @Model.Header
<br>
<label>
    Message:
</label>
<textarea rows="4" cols="50" disabled>
    @Model.Text
</textarea>
<br>
@Html.ActionLink("Back", "ReadMessagesFromUser", new { username = Model.username }, new { @class = "btn btn-primary", @style = "color:white" })
@Html.ActionLink("Delete", "ReadMessagesFromUser", new { username=Model.username, id=Model.Id }, new { @class = "btn btn-primary", @style = "color:white" })

@Html.Partial("ReadMessagesPartial")